h1,
h2,
h3,
h4,
h5 {
  font-family: "Volkhov", serif;
}

p,
a {
  font-family: "Source Sans Pro", sans-serif;
}
a{
  text-decoration: none;
}
 
 
 header .navbar h1 a {
    position: relative;
    font-size: 32px;
    color: #fb811e;
    transition: all 0.5s;
    font-weight: 600;
 }

 header .navbar h1 a i::before {
    position: absolute;
    top: 0;
    left: 55px;
    font-size: 20px;
 }

 header .nav_right {
    justify-content: flex-end;
    align-items: center;
 }

 header .nav_right .nav-item {
    margin-left: 20px;
    cursor: pointer;
 }


 header .nav-item:first-child form input {
    background: url(./../img/search.png) no-repeat 10px center;
    border: solid 1px #eee;
    width: 35px;
    height: 35px;
    border-radius: 10em;
    transition: all 0.5s;
    cursor: pointer;
 }

 header .nav-item:first-child form input:focus {
    width: 200px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
    padding-right: 15px;
 }

 header .nav-item:nth-child(2) i {
    margin: 10px 0;
    color: black;
    transition: all 0.3s;
 }

 header .nav-item:nth-child(2) i:hover {
    color: #fb811e;
 }
/* 
 header .nav-item:last-child .dropdown {
    
 } */



 /* about css */
 .banner {
   background-image: url(./../img/inner-banner.png);
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: cover;
   position: relative;
   z-index: 0;
 }
 .banner .breadcrumb {
   margin: 0 auto;
 }

 .banner .breadcrumb a {
   font-weight: bold;
   text-decoration: none;
   color: #707070;
 }

 .banner .breadcrumb_path {
   line-height: 1.5;
   color: #707070;
   position: relative;
   display: inline-block;
   vertical-align: middle;
   font-size: 15px;
   text-transform: capitalize;
 }

 /* welcome */
 .welcome img {
   max-width: 100%;
   display: block;
   border-radius: 8px;
   width: 100%;

 }
 .content-title {
   font-size: 40px;
   line-height: 50px;
   font-weight: 600;
   color: #060606;
 }
 .small-title {
   color: #fb811e;
   font-size: 22px;
 }

 .p-paragraph {
   font-size: 17px;
   line-height: 27px;
   color: #707070;
 }

 .btn-style {
   transition: all 0.5s;
   font-size: 16px;
   line-height: 26px;
   text-transform: uppercase;
   padding: 12px 30px;
   font-weight: 600;
   background: #fb811e;
   border: none;
   color: #fff;
   border-radius: 30px;
 }
 .btn-style:hover {
   background: #009f4d;
   color: #ffffff;
 }