h1,
h2,
h3,
h4,
h5 {
  font-family: "Volkhov", serif;
}

p,
a {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

header.main-header {
  background-color: transparent;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  }

header .navbar h1 a {
  position: relative;
  font-size: 32px;
  color: #fb811e;
  transition: all 0.5s;
  font-weight: 600;
}

header .navbar h1 a i::before {
  position: absolute;
  top: 0;
  left: 55px;
  font-size: 20px;
}

header .nav_right {
  justify-content: flex-end;
  align-items: center;
}

header .nav_right .nav-item {
  margin-left: 20px;
  cursor: pointer;
}


header .nav-item:first-child form input {
  background: url(./../img/search.png) no-repeat 10px center;
  border: solid 1px #eee;
  width: 35px;
  height: 35px;
  border-radius: 10em;
  transition: all 0.5s;
  cursor: pointer;
}

header .nav-item:first-child form input:focus {
  width: 200px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  padding-right: 15px;
  border: solid 1px #eee;
}

header .nav-item:nth-child(2) i {
  margin: 10px 0;
  color: black;
  transition: all 0.3s;
}

header .nav-item:nth-child(2) i:hover {
  color: #fb811e;
}


header .nav-item:nth-child(3) button {
  border: none;
}

header .nav-item:nth-child(3) i {
  color: #fff;
  transition: all 0.3s;
  font-size: 29px;
}

header.nav-fixed {
  padding: 0px;
  border-bottom: none;
  z-index: 99 !important;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  height: 70px;
  transition: all 0.5s;
}

/* 
 header .nav-item:last-child .dropdown {
    
 } */



/* about css */
.banner {
  background-image: url(./../img/inner-banner.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.banner .breadcrumb {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  margin: 0 auto;
}

.banner .breadcrumb a {
  font-weight: bold;
  text-decoration: none;
  color: #707070;
  transition: all 0.5s;
}


.banner .breadcrumb a:hover {
  color: #fb811e;
}

.banner .breadcrumb_path {
  line-height: 1.5;
  color: #707070;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  text-transform: capitalize;
}

/* welcome */
.welcome img {
  max-width: 100%;
  display: block;
  border-radius: 8px;
  width: 100%;

}

.content-title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #060606;
}

.small-title {
  color: #fb811e;
  font-size: 22px;
}

.p-paragraph {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}

.btn-style {
  transition: all 0.5s;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
}

.btn-style:hover {
  background: #009f4d;
  color: #ffffff;
}

.stats span.fa {
  color: #009f4d;
  text-align: center;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  background: rgb(0 159 77 / 4%);
  font-size: 32px;
}

.stats .number {
  font-size: 3em;
  font-weight: 600;
  color: #060606;
}

.stats p.count-text {
  text-transform: uppercase;
  color: #060606;
  font-size: 17px;
}

/* team */
.team {
  background-color: #009f4d;
}

.team .title_bg {
  position: absolute;
  color: #fff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  font-size: 12vw;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}

.team .team_bg {
  background: #fff;
  padding: 1em;
  border-radius: 8px;
}

.team .team_item {
  overflow: hidden;
}
.team .team_item img {
  max-width: 100%;
  display: block;
  border-radius: 8px;
  width: 100%;
}

.team .team_bg .team_item,
.team .team_bg .team_item .team-item_img {
  position: relative;
}

.team .team_item .team_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(8 8 8 / 54%);
  opacity: 0;
  transition: all 0.5s;
  border-radius: 4px;
}

.team .team_item .team_overlay .overlay_title {
  position: absolute;
  width: 100%;
  transform: translateY(-55%);
  padding: 0 20px;
  transition: all 0.3s;
}

.team .team_item .team_overlay .overlay_link {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  transform: translateY(45%);
  transition: all 0.3s;
  font-size: 35px;
}

.team .team_item .team_overlay .overlay_title h4 {
  margin-bottom: 4px;
  
}

.team .team_item .team_overlay .overlay_title h4 a {
  font-family: "Volkhov", serif;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  transition: all 0.5s;
}

.team .team_item .team_overlay .overlay_title p {
  color: #fff;
  font-size:1rem;
}

.team .team_item .team_overlay .overlay_link a {
  margin: 0 10px;
  color: #1e272e;
  font-size: 16px;
}




.team .team-item_title span {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 1px;
  display: block;
}

.team .team-item_title h5 a {
  font-family: "Volkhov", serif;
  font-weight: bold;
  color: #060606;
  font-size: 21px;
  transition: all 0.5s;
}

.team .team_item .team_overlay .overlay_title,
.team .team_item .team_overlay .overlay_title h4,
.team .team_item .team_overlay .overlay_link a{
  text-align: center;
  color: #1e272e;
}

.team .team_item:hover .team_overlay,
.team .team_item:hover .team_overlay .overlay_title,
.team .team_item:hover .team_overlay .overlay_link {
  opacity: 1;
}

.team .team_item:hover .team_overlay .overlay_link {
  transform: translateY(-10px);
}

.team .team_item:hover .team_overlay .overlay_link span.fa {
  color: #fff;
}

.team .team_item:hover .team_overlay .overlay_title {
  transform: translateY(70px);
}

.team .team_bg a:hover,
.team .team_item .team_overlay .overlay_title h4 a:hover,
.team .team_item .team_overlay .overlay_link a span.fa:hover {
  color: #fb811e;
}


/* video */
.video .video_middle {
  max-width: 950px;
  margin: 0 auto;
}

.video .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}

.video span.video-play-icon {
  background: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
}

.video span.video-play-icon:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.video span.video-play-icon span {
  color: #fb811e;
}

#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}

div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}

.mfp-hide {
  display: none !important;
}

.mfp-close {
  line-height: 40px;
  position: absolute;
  right: 0px;
  top: -40px;
  text-decoration: none;
  text-align: center;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  background: transparent;
}
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
}
.my-mfp-zoom-in.mfp-bg {
  transition: opacity 0.3s ease-out;
}
button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.video .mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.video .mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.video .mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.video .mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
  z-index: -1;
}

/* carousel */
.about_carousel {
  background: url(../img/bg1.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}
.about_carousel::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(8 8 8 / 44%);
  z-index: -1;
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel {
  width: 100%;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
}
.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}
.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
}
.testimonial-content {
  max-width: 900px;
  margin: auto;
}
.about_carousel .testi-des {
  text-align: center;
}
a.testi-img {
  width: 90px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
}
.about_carousel .testimonial img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.about_carousel .testimonial .peopl {
  margin: 0;
}
.about_carousel .testimonial .peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0 5px;
  color: #fff;
}
.about_carousel p.identity {
  color: #fff;
  font-size: 16px;
}
.about_carousel span.fa {
  font-size: 20px;
  color: #fb811e;
  font-weight: 600;
  display: inline-block;
}
.fa-quote-left:before {
  content: "ï„";
}
.about_carousel blockquote q {
  font-size: 22px;
  line-height: 34px;
  color: #fff;
  text-indent: 30px;
  display: block;
}
.about_carousel .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
  bottom: -90px;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
}
.about_carousel .owl-theme .owl-dots .owl-dot.active span,
.about_carousel .owl-theme .owl-dots .owl-dot:hover span {
  background: #fb811e;
  opacity: 1;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  border: none;
}
.about_carousel span.fa {
  font-size: 20px;
  color: #fb811e;
  font-weight: 600;
  display: inline-block;
}
.about_carousel blockquote {
  margin: 0 0 1rem;
}
q::before {
  content: open-quote;
}
q::after {
  content: close-quote;
}
.owl-carousel,
.owl-carousel .owl-item {
  position: relative;
}
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
}
.about_carousel .owl-dots {
  position: absolute;
  left: 0px;
  right: 0;
  background: none;
}
.w3l-clients-1 .owl-theme .owl-dots .owl-dot span {
  background: #fff;
  opacity: 0.3;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 1px;
  background: #aaa;
  display: block;
  transition: opacity 0.2s ease;
  position: relative;
  opacity: 0.9;
  border-radius: 30px;
}
#owl-demo2 > div.owl-dots > button {
  padding: 5px;
}
