h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Volkhov", serif;
}

p,
a {
    font-family: "Source Sans Pro", sans-serif;
}

a {
    text-decoration: none;
}

header.main-header {
    background-color: transparent;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
}

header .navbar h1 a {
    position: relative;
    font-size: 32px;
    color: #fb811e;
    transition: all 0.5s;
    font-weight: 600;
}

header .navbar h1 a i::before {
    position: absolute;
    top: 0;
    left: 55px;
    font-size: 20px;
}

header .nav_right {
    justify-content: flex-end;
    align-items: center;
}

header .nav_right .nav-item {
    margin-left: 20px;
    cursor: pointer;
}


header .nav-item:first-child form input {
    background: url(./../img/search.png) no-repeat 10px center;
    border: solid 1px #eee;
    width: 35px;
    height: 35px;
    border-radius: 10em;
    transition: all 0.5s;
    cursor: pointer;
}

header .nav-item:first-child form input:focus {
    width: 200px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
    padding-right: 15px;
    border: solid 1px #eee;
}

header .nav-item:nth-child(2) i {
    margin: 10px 0;
    color: black;
    transition: all 0.3s;
}

header .nav-item:nth-child(2) i:hover {
    color: #fb811e;
}


header .nav-item:nth-child(3) button {
    border: none;
}

header .nav-item:nth-child(3) i {
    color: #fff;
    transition: all 0.3s;
    font-size: 29px;
}

header.nav-fixed {
    padding: 0px;
    border-bottom: none;
    z-index: 99 !important;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    height: 70px;
    transition: all 0.5s;
}

/* 
 header .nav-item:last-child .dropdown {
    
 } */



/* about css */
.banner {
    background-image: url(./../img/inner-banner.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.banner .breadcrumb {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    margin: 0 auto;
}

.banner .breadcrumb a {
    font-weight: bold;
    text-decoration: none;
    color: #707070;
    transition: all 0.5s;
}


.banner .breadcrumb a:hover {
    color: #fb811e;
}

.banner .breadcrumb_path {
    line-height: 1.5;
    color: #707070;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    text-transform: capitalize;
}

/* blog card */
.blog_card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.blog_card .blog_card_content h6 {
    display: inline-block;
    font-size: 16px;
    /* line-height: 25px; */
    color: #707070;
    text-transform: capitalize;
    font-weight: normal;
}

.blog_card .blog_card_content h6 .copyright {
    color: #fb811e;
    text-decoration: none;
}

.blog_card .blog_card_content a.desc {
    font-size: 26px;
    line-height: 34px;
    margin-top: 10px;
    margin-bottom: 8px;
    color: black;
    font-weight: 700;
    transition: all 0.5s;
}

.blog_card .blog_card_content a.desc:hover {
    color: #fb811e;
}

.btn-style {
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 12px 30px;
    font-weight: 600;
    background: #fb811e;
    border: none;
    color: #fff;
    border-radius: 30px;
    transition: all 0.5s;
    width: 145px;
}

.btn-style:hover {
    background: #009f4d;
    color: #ffffff;
}

/* blog right */
.blog_right a {
    color: black;
    text-decoration: none;
}

.blog_right .title-h2 {
    font-size: 22px;
    line-height: 32px;
    color: black;
    font-weight: 600;
    margin-bottom: 18px;
}

.blog_right .search_form lable {
    margin-bottom: 0;
    width: 100%;
}

.blog_right .right_search .input_search {
    border: 1px solid #eee;
    width: 298px;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    height: 55px;
}

.blog_right .right_search .input_search:focus {
    border: 1px solid #434242;
}

.blog_right .right_search .submit {
    padding: 10px;
    margin-left: -67px;
    color: #ffffff;
    background-color: #fb811e;
    border: none;
    border-radius: 5px;
}

.right_sidebar {
    position: sticky;
    top: 100px;
}

.blog_right .right_post {
    
    margin-top: 10px;
}

.blog_right .right_post a {
    text-transform: capitalize;
    display: flex;
    width: 100%;
    font-size: 18px;
    margin: 10px 0px;
    font-weight: 600;
    transition: all 0.5s;
}

.blog_right .right_post a:hover {
    color: #fb811e;
}

.blog_right ul {
    margin: 0;
    padding: 0;
}

.blog_right .right_cmt {
    margin: 20px 0;
}

.blog_right .right_cmt ul li {
    padding: 10px 0;
    list-style: none;
    color: #707070;
}

.blog_right .right_cmt a {
    color: #fb811e;
    font-weight: 600;
}

.blog_right .right_cmt a:hover {
    text-decoration: underline;
}

.blog_right .right_arch,
.blog_right .right_cate,
.blog_right .right_meta {
    line-height: 40px;
    margin-top: 20px;
}

.blog_right .right_post li,
.blog_right .right_arch li,
.blog_right .right_cate li,
.blog_right .right_meta li {
  border-bottom: 1px solid #eeeeee;
  list-style: none;
}

.page span,

.page a {
  font-size: 16px;
  font-weight: 600;
  border-radius: 50%;
  padding: 10px 17px;
}
.page span {
  background-color: #009f4d;
  color: #eeeeee;
}
.page a {
  color: #060606;
}
.page a:hover {
  transition: all 0.5s;
}
.page a:hover {
  background-color: #009f4d;
  color: #eeeeee;
}