/*====================================RESPONSIVE CHO TRANG HOME LANDING PAGE VÀ CONTACT============================================== */

@media screen and (max-width: 1025px) {
    .testimonial {
        min-height: 42vh;
    }
}

@media screen and (max-width: 500px) {
    .collapse:not(.show) {
        display: inline-block;
    }

    header .container {
        padding: 0;
    }

    #navbarScroll {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        align-items: center;
        justify-content: space-between;
    }

    #navbarScroll .navbar-nav {
        display: flex;
        justify-content: flex-end;
        /* flex-direction: row; */
        align-items: center;
        flex-flow: row nowrap;
        margin-right: 4vw;
    }

    #navbarScroll .navbar-nav .dropdown {
        margin-left: 15px;
        margin-top: 6px;
    }

    .fixed-top {
        right: 40px !important;
        left: 10px !important;
    }
    header a.navbar-brand {
        font-size: 36px;
    }
    .banner-left {
        top: 3em;
        left: 3em;
    }

    .banner .banner-right .slide-content {
        width: 100%;
    }

    .banner .banner-right .slide-content .item {
        height: 100vh;
    }
    .banner .banner-right .slide-content .item img {
        width: 100%;
        height: 100%;
    }
    .slick-slide.slick-current.slick-active {
        width: 100vw !important;
    }
    .banner .banner-left .farm-text {
        font-size: 80px;
        color: #f4f4f4b5;
    }

    .banner .banner-left .sub-content h3 {
        width: 81%;
        color: #fff;
        font-size: 34px;
    }
    .banner .banner-left .sub-content p {
        font-size: 18px;
        color: #ddd;
        width: 80%;
    }

    .about-right img {
        margin-left: 0;
        max-width: 90vw;
    }
    .about-right .info {
        left: -12px;
        bottom: -23px;
        padding: 20px 48px;
    }
    .backtotop {
        right: 60px;
    }
    .testimonial {
        min-height: 35vh;
    }
}
