:root {
    --theme-color: #e40000;
    --primary-color: #fb811e;
    --primary-light: #fcf1e7;
    --primary-dark: #ffc945;
    --secondary-color: #009f4d;
    --font-color: #707070;
    --bg-color: #fff;
    --heading-color: #060606;
    --footer-color: #060e1f;
    --footer-cpy-color: #040a17;
    --border-radius: 30px;
    --border-radius-full: 15px;
    --border-color: transparent;
    --border-color-light: #eee;
    --iframe-filter: grayscale(0%);
    --bg-grey: #f4f4f4;
    --bg-light: #fafafa;
    --bg-dark-color: #fff;
    --quote-text-color: #1d2c4c;
    --icon-gra-color: linear-gradient(75deg, #1c2e7b 10%, #e60264);
    --shadow-color: rgb(0 0 0 / 3%);
    --box-shadow: rgb(0 0 0 / 41%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
   
}

.btn.btn-farm {
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
    line-height: 25px;
    padding: 12px  30px;
    border-radius: 999px;
}
.btn-farm:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(46, 202, 139, 0.25);
}
.btn-farm:hover {
    background: var(--secondary-color);
    color: #ffffff;
}

header .dropdown-toggle::after {
    display: none;
}

header .container-fluid {
    --bs-gutter-x: 0
    --bs-gutter-y: 0;
}

.navbar {
    background-color: transparent !important;
}
header a.navbar-brand {
    font-size: 34px;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: var(--primary-color);
    position: relative;
}
header .navbar-brand i {
    position: absolute;
    font-size: 18px;
    top: 7px;
    left: 33%;
    width: 25px;
    height: 30px;
}
.navbar-nav .header-search i {
    width: 35px;
    margin-right: 20px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    line-height: 35px;
    text-align: center;
}
.navbar-nav .mode {
    width: 28px;
    color: white;
    font-size: 21px;
}
.navbar-nav .dropdown i {
    font-size: 25px;
    color: white;
    margin-top: 7px;
    margin-left: 5px;
    line-height: 0.4rem;
}
.navbar-nav .dropdown .dropdown-menu {
    position: absolute;
    text-align: center;
    top: 40px;
    right: 0;
    width: 250px;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 30px var(--box-shadow);
}
.navbar-nav .dropdown .dropdown-menu li a {
    display: block;
    padding: 7px;
    font-size: 16px;
    font-weight: 600;
    color: var(--heading-color);
}
.navbar-nav .dropdown .dropdown-menu li a:focus {
    color: var(--primary-color);
}
.navbar-nav .dropdown .dropdown-menu li a:active {
    background-color: #fff;
}

.navbar-nav .dropdown .dropdown-menu li a:hover {
    color: var(--primary-color);
}

.banner .banner-left .farm-text  {
    color: var(--bg-grey);
    font-size: 120px;
    font-weight: bold;
    margin-left: -.7em;
}

.banner-left {
    position: absolute;
    left: 10em;
    z-index: 1;
}
.banner .banner-left .sub-content {
   margin-top: -62px;
   margin-left: -37px;

}

.banner .banner-left .sub-content h3{
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
}
.banner .banner-left .sub-content p {
    font-size: 20px;
    color: var(--font-color);
    margin: 40px 0;
}

.banner .banner-right .slide-content {
    position: absolute;
    top: 0;
    width: 60%;
    height: 100%;
    right: 0;
    z-index: -30;
    border: none; 
}

.banner .banner-right .slide-content .item {
    height: 100vh;
    position: relative;

}
.banner .banner-right .slide-content .item img {
     position: absolute;
     width: 200px;
     height: 100%;
    border-bottom-left-radius: 30px;
}
.banner .banner-right .slide-content .item .desc {
    text-align: center;
    position: absolute;
    bottom: 30px;
    right: 22px;
    color: #fff;
}
.banner-right .slide-content .item .desc h4 {
    margin-bottom: -5px;
}

.banner-right .slick-dots {
    
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    color: var(--primary-color);
    right: 0;
    z-index: 1;
    margin: 0 auto;
}
.banner-right .slick-dots li button:before {
    color: #fff;
    font-size: 16px;
    opacity: .6;
}
.banner-right .slick-dots li.slick-active button:before  {
    color: var(--primary-color);
    opacity: 1;
}
